<h1>Index User Page</h1>
<div id="Items">
	<div id="Lent">
		<h2>Recent Items Lent Out</h2>
		<p>Render Items partial, recently lent</p>
	</div>
	<div id="Borrowed">
		<h2>Recent Items Borrowed</h2>
		<p>Render Items partial, recently borrowed</p>
	</div>
</div>
<div id="Friendships">
	<h2>Friendstuff</h2>
	<div id="Friends">
		<p>Some of your Friends will be listed here.  <br /> Render the partial!</p>
	</div>
	<div id="Pending">
		<p>Your Pending Friends will be listed here.  <br /> Render the partial!</p>
	</div>
	<div id="Requests">
		<p>Your Requested Friends will be listed here.  <br /> Render the partial!</p>
	</div>
	
</div>
