<% for friend in @user.friends -%>
<div class="friend_line">
<%= link_to "#{friend.login}", :controller => "spec", :action => "show", :id => friend.login%>
<%= link_to "Remove Friend", {:controller => :friendships, :action => :delete, :id => friend.login}, :confirm => "Are you sure you want to remove #{friend.login} from your friends?  Note: This action is irreversible" %>
</div>
<% end -%>