<div class="q_set">
	<div class="question">
		What does this website do?
	</div>
	<div class="answer">
		
	</div>
</div>

<div class="q_set">
	<div class="question">
		A friend won't return one of my items!
	</div>
	<div class="answer">
		We're really sorry to hear that.  Unfortunately, as you read in our Terms of Service, there's really nothing we can do.  Lendtu is just here to help you <em>track</em> where your stuff is.  
	</div>
</div>

<div class="q_set">
	<div class="question">
		This site's pretty cool, but what if I want to EXCHANGE items, not lend them?
	</div>
	<div class="answer">
	Well, if this is the case, then there are several other websites that cater to your needs.  However, lendtu is not one of them!  I would personally suggest you check out <a href="http://www.freecycle.org/">Freecycle</a>
	</div>
</div>