<div id="title_bar">
  <h1 id="welcome_to_lendtu">Welcome to the future home of Lendtu</h1>
  <h4>The Trading Facilitation Assistant</h4>	
</div>
<div id="main_section">
  <fieldset id="what_lendtu_is" class="about">
    <legend>What Lendtu Is</legend>
    <p>Lendtu is a web service designed to organize, manage, and facilitate the lending/borrowing of items between friends.<hr />Perhaps I should give a bit more than that...<br />Lendtu was designed, as so many great things have been, over a table surrounded by friends.  These friends needed a system to manage who was borrowing who's property. They decided to make a website to handle the transactions, and that website has become Lendtu.<hr />What you will be able to do with Lendtu is 
    <ul>
    <li>Add, remove, and otherwise manage a "library" of items, including things such as:
    <ul>
    <li>Video Games</li>
    <li>Books</li>
    <li>Hardware/Power Tools</li>
    <li>Cooking equipment</li>
    <li>DVDs, CDs, Blu-Ray, HD-DVDs</li>
    <li>Board Games</li>
    </ul>
    </li>
    <li>Borrow items from friends' libraries.</li>
    <li>Lend your items out to your friends.</li>
    </ul></p>
  
  </fieldset>
  
  <fieldset id="what_lendtu_isnt" class="about">
    <legend>What Lendtu Isn't</legend>
    
    <p>Among other things, Lendtu is <em>NOT</em> a file sharing website.  There is no online trading of torrents, mp3s, or other files.
    <br />
    Lendtu is <em>NOT</em> a store.  There is no selling of items from your personal library.  All transfers are intended to be <em>temporary</em>.
    </p>
  </fieldset>
    
  <fieldset id="where_can_i_learn_more" class="about">
    <legend>Where can I learn more?</legend>
    <p>That's a fantastic question!  I'm glad that you're showing interest, I would suggest that you check up at <a href="http://dpalay.com/lendtu/blog">http://dpalay.com/lendtu/blog</a>.  This is the site that I am posting my updates to.  Please, feel free to leave comments and or suggestions there.  I can really use the encouragement!</p>
  </fieldset>
</div>